/**
 * Design elements for default Template
 *
 * @author Andreas Gohr <andi@splitbrain.org>
 * @author Anika Henke <henke@cosmocode.de>
 * @author Dennis Wagelaar <dennis.wagelaar@vub.ac.be>
 */

/* -------------- general elements --------------- */

/* the document */
div.page {
  margin-top: 4px;
  margin-left:  1em;
  margin-right: 2em;
  text-align: justify;
}

div.nothing {
  text-align:center;
	margin: 2em;
}

img {
  border: 0;
}

#pageheader
{
  clear: both;
  background: transparent url(images/FULLb-vub.jpg) no-repeat left;
  margin-top: 10px;
  margin-bottom: 0px;
  height: 101px;
}

#ssel
{
  font-size: 20px;
  font-weight: bold;
  text-align: left;
  line-height: 1.2em;
  color: #FFFFFF;
  height: 54px;
  width: 300px;
  margin-left: 360px;
  padding-top: 6px;
}

#ssel a:link, #ssel a:visited
{
  color: #FFFFFF;
  text-decoration: none;
}

#ssel a:hover, #ssel a:active
{
  color: #766F53;
  text-decoration: none;
}

#content
{
  width: 628px;
  margin-left: 0px;
}

#content h1
{
  font-size: 18px;
  color: #766F53;
  font-weight: bold;
  text-align: left;
}

#content h2
{
  font-size: 15px;
  color: #766F53;
  text-indent: 15px;
  border-bottom: 2px solid #766F53;
  font-weight: normal;
  background-image: url(images/subtitlesquare.jpg);
  background-repeat: no-repeat;
  background-position: center left;
  text-align: left;
}

#content h3
{
  font-size: 11px;
  color: #766F53;
  text-indent: 0px;
  border-bottom: 0px;
  font-weight: bold;
  background-image: none;
  text-align: left;
}

#content h4
{
  font-size: 11px;
  color: #766F53;
  font-style: italic;
  font-weight: normal;
  text-align: left;
}

#content h5
{
  font-size: 11px;
  color: #766F53;
  font-style: normal;
  font-weight: normal;
  text-align: left;
}

#menu
{
  margin-top: 12px;
}

#menu .menuheader
{
  padding-left: 30px;
  padding-top: 2px;
  padding-bottom: 2px;
  font-size: 11px;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 10px;
  color: #FFFFFF;
  background-color: #8F8665;
}

#menu .menuheader a, #menu .menuheader a:visited
{
  font-weight: bold;
  color: #FFFFFF;
}

#menu .menuheader a:hover, #menu .menuheader a:active
{
  font-weight: bold;
  color: #FFFFFF;
  text-decoration: underline;
}

#contact
{
  width: 760px;
}

#content h1 {
  font-size: 20px;
  color: #766F53;
  font-weight: bold;
}

#content ul
{
  list-style-image: url(images/bullet.gif);
  list-style-position: outside;
}

/* ---------------- forms ------------------------ */

form {
  border: none;
  margin: 0;
  display: inline;
}

label {
  display: block;
  text-align: right;
  font-weight: bold;
}

label.simple {
  text-align: left;
  font-weight: normal;
}

label input.edit {
  width: 50%;
}

fieldset {
  width: 300px;
  text-align: center;
  border: 1px solid #766F53;
  padding: 0.5em;
}

textarea.edit {
  font-family:monospace;
  border: 1px solid #766F53;  
  color: Black;
  background-color: white;
  font-size:14px;
  padding: 3px;
  width:100%;
}

input.edit,select.edit {
  font-size: 100%;
  border: 1px solid #766F53;
  height: 18px !important;
  max-height: 22px !important;
  min-height: 22px !important;
  color: Black;
  background-color: white;
  vertical-align: middle;
  padding: 1px;
  display: inline;
}

input.missing {
  font-size: 100%;
  border: 1px solid #766F53;
  height: 18px !important;
  max-height: 22px !important;
  min-height: 22px !important;
  color: Black;
  background-color: #ffcccc;
  vertical-align: middle;
  padding: 1px;
  display: inline;
}

/* --------- buttons ------------------- */


input.button {
  border: 1px solid #766F53;  
  color: Black;
  background-color: white;
  vertical-align: middle;
  text-decoration:none;
  font-size: 100%;
  cursor: pointer;
  height: 22px !important;
  max-height: 22px !important;
  min-height: 22px !important;
  margin: 1px;
  display: inline;
}

div.secedit input.button {
  border: 1px solid #766F53;
  color: Black;
  background-color: white;
  vertical-align: middle;
  text-decoration:none;
  margin: 0px;
  padding: 0px;
  font-size: 10px;
  cursor: pointer;
  height: 15px !important;
  max-height: 15px !important;
  min-height: 15px !important;
  float:right;
  display: inline;
}

/* ----------- page navigator ------------- */

div.pagenav {
	margin-top:1em;
}

div.pagenav-prev {
	text-align:right;	
	float:left;
	width:50%
}

div.pagenav-prev input.button {
	margin-right:5px;
}

div.pagenav-next {
	text-align:left;
	float:right;
	width:50%
}

div.pagenav-next input.button {
	margin-left:5px;
}

/* --------------- Links ------------------ */

a
{
	color: #6C6C00;
	text-decoration: none;
}

a:hover
{
	text-decoration: underline;
}

a:active
{
	text-decoration: underline;
}

#content a:link, #content a:visited
{
        text-decoration: none;
        color: #6C6C00;
}

#content a:hover
{
        text-decoration: underline;
}

/* external link */
a.urlextern{
    background: transparent url(images/link_icon.gif) 0px 1px no-repeat;
    padding: 1px 0px 1px 16px;
    text-decoration:none;
}
a.urlextern:hover {
  text-decoration:underline;
}

/* windows share */
a.windows{
    background: transparent url(images/windows.gif) 0px 1px no-repeat;
    padding: 1px 0px 1px 16px;
    text-decoration:none;
} 
a.windows:hover { 
  text-decoration:underline;
}

/* interwiki link */
a.interwiki{
    background: transparent url(images/interwiki.png) 0px 1px no-repeat;
		padding-left: 16px;
    text-decoration:none;
}
a.interwiki:hover {
  text-decoration:underline;
}

/* link to some embedded media */
a.media {
  text-decoration:none;
}
a.media:hover {
  text-decoration:underline
}

/* email link */
a.mail {
  background: transparent url(images/mail_icon.gif) 0px 1px no-repeat;
  padding: 1px 0px 1px 16px;
  text-decoration:none;
}
a.mail:hover {
  text-decoration:underline;
}

/* existing wikipage */
a.wikilink1:link    { text-decoration:none }
a.wikilink1:visited { text-decoration:none }
a.wikilink1:hover   { text-decoration:underline }

/* not existing wikipage */
a.wikilink2:link    { color:#FF3300; text-decoration:none }
a.wikilink2:visited { color:#FF3300; text-decoration:none }
a.wikilink2:hover   { color:#FF3300; text-decoration:underline }


/* ------------- Page elements ----------------- */

div.preview{
  background:#E7E8BC;
  margin-left:2em;
  padding: 4px;
  border: 1px dashed #000000;
}

div.breadcrumbs{
  vertical-align: bottom;
  font-size:80%;
  padding-left: 4px;
}

span.user{
  color: #cccccc;
  font-size: 90%;
}

/* embedded images */
img.media {
  margin: 3px;
}

img.medialeft {
  border: 0;
  float: left;
  margin: 0 1.5em 0 0;
}

img.mediaright {
  border: 0;
  float: right;
  margin: 0 0 0 1.5em;
}

img.mediacenter {
  border: 0;
	display: block;
  margin-left: auto;
  margin-right: auto;
}

acronym {
  cursor: help;
  border-bottom: 1px dotted #000;
}

/* indent different sections */
div.level1 {margin-left: 0px;}
div.level2 {margin-left: 0px;}
div.level3 {margin-left: 0px;}
div.level4 {margin-left: 0px;}
div.level5 {margin-left: 0px;}

/* the list items overriding the ol definition */
.li {
  color: #000000;
  font-weight: normal;
}

li.open {
  list-style-image: url(images/open.gif);
}

li.closed {
  list-style-image: url(images/closed.gif);
}

/* code blocks by indention */
pre.pre {
  font-size: 120%;
  padding: 0.5em;
  border: 1px dashed #766F53;
  color: Black;
  background-color: #E7E8BC;
  overflow: auto;
}

/* code blocks by code tag */
pre.code {
  font-size: 120%;
  padding: 0.5em;
  border: 1px dashed #766F53;
  color: Black;
  background-color: #E7E8BC;
  overflow: auto;
}

/* inline code words */
code {
  font-size: 120%;
}

/* code blocks by file tag */
pre.file {
  font-size: 120%;
  padding: 0.5em;
  border: 1px dashed #766F53;
  color: Black;
  background-color: #BCBF00;
  overflow: auto;
}

/* inline tables */
table.inline {
  background-color: #ffffff;
  border-spacing: 0px;
  border-collapse: collapse;
}

table.inline th {
  padding: 3px;
  border: 1px solid #766F53;
  color: #FFFFFF;
  background-color: #8F8665;
}

#content table.inline th a:link, #content table.inline th a:visited {
  color: #FFFFFF;
}

table.inline th a.urlextern, table.inline th a.interwiki {
  padding-right: 18px;
}

table.inline td {
  padding: 3px;
  border: 1px solid #766F53;
}

.leftalign{
  text-align: left;
}

.centeralign{
  text-align: center;
}

.rightalign{
  text-align: right;
}

/* ---------- table of contents ------------------- */

div.toc {
  margin-left: 2em;
  //margin-top: 1.2em;
  margin-bottom: 0;
  float:right;
  width: 200px;
  font-size: 80%;
  clear:both;
}

div.tocheader {
  padding-left: 30px;
  padding-top: 2px;
  padding-bottom: 2px;
  color: #FFFFFF;
  background-color: #8F8665;
  text-align: left;
  font-weight: bold;
  font-size: 11px;
  text-transform: uppercase;
}

div.toctoggle {
  color: #FFFFFF;
  float:right;
  margin-top:0.3em;
  margin-right:3px;
}

div.toctoggle img {
  width:0.8em;
  height:0.8em;
  border: 1px solid #766F53;
  background-color: #FFFFFF;
}

#tocinside {
  border-left: 1px solid #8F8665;
  background-color: #ffffff;
  text-align: left;
  padding-top: 0.5em;
  padding-bottom: 0.7em;
}

#content ul.toc {
  list-style-type: none;
  list-style-image: none;
  line-height: 1.4em;
  margin: 0;
  padding: 0;
  padding-left: 1em;
}

ul.toc li {
  background: transparent url(images/bullet.gif) 0 0.2em no-repeat;
  padding-left: 1.5em;
}

ul.toc li.clear {
  background-image: none;
  padding-left:0.4em;
}

a.toc {
  color: #333333;
  text-decoration: none;
  font-size: 11px;
}

a.toc:hover {
  color: #333333;
  text-decoration: underline; 
}

/* ---------------------------- Diff rendering --------------------------*/
table.diff { background:white; }
td.diff-blockheader {font-weight:bold}
td.diff-header {
  border-bottom: 1px solid #766F53;
  font-size:120%;
}
td.diff-addedline {
    background:#ddffdd;
    font-family: monospace;
    font-size: 100%;
}
td.diff-deletedline { 
    background:#ffffbb;
    font-family: monospace;    
    font-size: 100%;
}
td.diff-context {
    background:#E7E8BC;
    font-family: monospace;
    font-size: 100%;
}
span.diffchange { color: red; }

/* --------------------- footnotes -------------------------------- */

div.footnotes{
  clear:both;
  border-top: 1px solid #766F53;
  padding-left: 1em;
  margin-top: 1em;
}

div.fn{
  font-size:90%;
}

a.fn_top{
  vertical-align:super;
  font-size:80%;
}

a.fn_bot{
  vertical-align:super;
  font-size:80%;
  font-weight:bold;
}


/* --------------- search result formating --------------- */
.search_result{
  margin-bottom: 6px;
  padding-left: 30px;
  padding-right: 10px;
}

.search_snippet{
  color: #999999;
  font-size: 12px;
  margin-left: 20px;
}

.search_sep{
  color: #000000;
}

.search_hit{
  color: #000000;
  background: #FFFF99;
}

div.search_quickresult{
  margin-bottom: 15px;
  padding-bottom: 5px;
  border-bottom: 1px dashed #766F53;
  margin-left: 30px;
  padding-right: 10px;
}

div.search_quickhits {
  margin-left: 1em;
  float:left;
  background: transparent url(images/bullet.gif) 0px 1px no-repeat;
  padding: 1px 0px 1px 8px;
  width: 30%;
}

/* ------------------ Additional ---------------------- */
.footerinc a img {
    opacity: 0.5;
}

.footerinc a:hover img {
    opacity: 1;
}

/* ---- Admin --- */

div.acladmin label {
  text-align: left;
  font-weight: normal;
  display: inline;
}

div.acladmin table{
  margin-left: 10%;
  width: 80%;
}

/* ---------- AJAX quicksearch ----------- */

div.ajax_qsearch {
  position:absolute;
  right:225px;;
  text-align:left;
  width: 200px;
  background-color: #ff9;
  opacity: 0.9;
  display:none;
}

/* ---------- Spellchecking ------------- */

a.spell_error {
  color: #ff0000;
  text-decoration: underline;
}

div#spell_suggest {
  position: absolute;
  left: 0;
  top: 0;
  display: none;
  background-color: #fff;
  padding: 2px;
  border: 1px solid #000;
  font-size:80%;
  z-index: 2;
}

div#spell_result {
  display:none;
  font-family:monospace;
  border: 1px solid #766F53; 
  color: Black;
  font-size:14px;
  padding: 3px;
  background-color: #E7E8BC;
  overflow: auto;
  z-index: 1;

  white-space: pre-wrap;       /* css-3 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

span.spell_noerr {
  color: #009933;
}

span.spell_wait {
  color: #0066cc;
}

