div.clearer {clear: both; line-height: 0; height: 0;}

div.error{
  background: #ff6666 url(../images/error.png) 0.5em 0px no-repeat;
  font-size: 90%;
  margin: 0px;
  padding-left: 3em;
}

div.info{
  background: #ffff66 url(../images/info.png) 0.5em 0px no-repeat;
  font-size: 90%;
  margin: 0;
  padding-left: 3em;
}

div.success{
  background: #66ff66 url(../images/thumbup.gif) 0.5em 0px no-repeat;
  font-size: 90%;
  margin: 0;
  padding-left: 3em;
}


/* syntax highlighting code v2 */
*/ 
.jasco { font-family: 'Courier New', Courier, monospace; } 
.kw1 { color: #981CFE; font-weight: bold; } 
.kw2 { color: #981CFE; font-weight: bold; }
.kw3 { color: #7E1F2C; } 
.kw4 { color: #000000; } 
.co1 { color: #808080; font-style: italic; } 
.co2 { color: #a1a100; } 
.coMULTI { color: #808080; font-style: italic; } 
.es0 { color: #000099; font-weight: bold; } 
.br0 { color: #66cc66; } 
.st0 { color: #4B26FE; } 
.nu0 { color: #000000; } 
.me0 { color: #000000; }

/* syntax highlighting code */
.jasco { font-family: 'Courier New', Courier, monospace; } 
.kw1 { color: #981CFE; font-weight: bold; } 
.kw2 { color: #981CFE; font-weight: bold; }
.kw3 { color: #7E1F2C; } 
.kw4 { color: #000000; } 
.co1 { color: #808080; font-style: italic; } 
.co2 { color: #a1a100; } 
.coMULTI { color: #808080; font-style: italic; } 
.es0 { color: #000099; font-weight: bold; } 
.br0 { color: #66cc66; } 
.st0 { color: #4B26FE; } 
.nu0 { color: #000000; } 
.me0 { color: #000000; }
