<?xml version="1.0" encoding="UTF-8"?>
<launchConfiguration type="org.atl.eclipse.adt.launching.atlTransformation">
<mapAttribute key="Model Handler">
<mapEntry key="OUT" value=""/>
<mapEntry key="UML2" value="EMF"/>
<mapEntry key="OWL" value="EMF"/>
<mapEntry key="IN" value=""/>
</mapAttribute>
<stringAttribute key="ATL File Name" value="/platformkit-java/transformations/UML2ToAPIOntology.atl"/>
<mapAttribute key="Libs"/>
<booleanAttribute key="Mode Debug" value="false"/>
<mapAttribute key="ModelType">
<mapEntry key="OUT" value="MODELOUTPUT"/>
<mapEntry key="UML2" value="METAMODELINPUT"/>
<mapEntry key="OWL" value="METAMODELOUTPUT"/>
<mapEntry key="IN" value="MODELINPUT"/>
</mapAttribute>
<mapAttribute key="Path">
<mapEntry key="OUT" value="/platformkit-java/j2se-1_5-api.owl"/>
<mapEntry key="UML2" value="uri:http://www.eclipse.org/uml2/2.0.0/UML"/>
<mapEntry key="OWL" value="uri:http:///org/eclipse/owl.ecore"/>
<mapEntry key="IN" value="/platformkit-java/j2se-1_5-api.uml"/>
</mapAttribute>
<stringAttribute key="Project Name" value="platformkit-java"/>
<mapAttribute key="Output">
<mapEntry key="OUT" value="OWL"/>
</mapAttribute>
<booleanAttribute key="ContinueAfterError" value="false"/>
<mapAttribute key="Input">
<mapEntry key="IN" value="UML2"/>
</mapAttribute>
<booleanAttribute key="AllowInterModelReferences" value="false"/>
<listAttribute key="Superimpose"/>
</launchConfiguration>
