<?xml version="1.0" encoding="UTF-8"?>
<launchConfiguration type="org.atl.eclipse.adt.launching.atlTransformation">
<mapAttribute key="Model Handler">
<mapEntry key="OUT" value=""/>
<mapEntry key="JAVA" value=""/>
<mapEntry key="UML2" value="EMF"/>
<mapEntry key="PREVOUT" value=""/>
<mapEntry key="PLATFORM" value=""/>
<mapEntry key="PREVIN" value=""/>
<mapEntry key="OWL" value="EMF"/>
<mapEntry key="IN" value=""/>
</mapAttribute>
<stringAttribute key="ATL File Name" value="/platformkit-java/transformations/UML2ToAPIOntology.atl"/>
<mapAttribute key="Libs">
<mapEntry key="APIOntologyLib" value="/platformkit-java/transformations/APIOntologyLib.asm"/>
</mapAttribute>
<booleanAttribute key="Mode Debug" value="false"/>
<mapAttribute key="ModelType">
<mapEntry key="OUT" value="MODELOUTPUT"/>
<mapEntry key="JAVA" value="MODELINPUT"/>
<mapEntry key="UML2" value="METAMODELINPUT"/>
<mapEntry key="PREVOUT" value="MODELINPUT"/>
<mapEntry key="PLATFORM" value="MODELINPUT"/>
<mapEntry key="PREVIN" value="MODELINPUT"/>
<mapEntry key="OWL" value="METAMODELOUTPUT"/>
<mapEntry key="IN" value="MODELINPUT"/>
</mapAttribute>
<mapAttribute key="Path">
<mapEntry key="OUT" value="/platformkit-java/jdk-1_1-api.owl"/>
<mapEntry key="JAVA" value="/platformkit-java/Java.owl"/>
<mapEntry key="UML2" value="uri:http://www.eclipse.org/uml2/2.0.0/UML"/>
<mapEntry key="PREVOUT" value="/platformkit-java/j2me-midp-1_0-api.owl"/>
<mapEntry key="PLATFORM" value="/platformkit-java/Platform.owl"/>
<mapEntry key="PREVIN" value="/platformkit-java/j2me-midp-1_0-api.uml"/>
<mapEntry key="OWL" value="uri:http:///org/eclipse/owl.ecore"/>
<mapEntry key="IN" value="/platformkit-java/jdk-1_1-api.uml"/>
</mapAttribute>
<stringAttribute key="Project Name" value="platformkit-java"/>
<mapAttribute key="Output">
<mapEntry key="OUT" value="OWL"/>
</mapAttribute>
<booleanAttribute key="ContinueAfterError" value="false"/>
<mapAttribute key="Input">
<mapEntry key="JAVA" value="OWL"/>
<mapEntry key="PREVOUT" value="OWL"/>
<mapEntry key="PLATFORM" value="OWL"/>
<mapEntry key="PREVIN" value="UML2"/>
<mapEntry key="IN" value="UML2"/>
</mapAttribute>
<booleanAttribute key="AllowInterModelReferences" value="true"/>
<listAttribute key="Superimpose">
<listEntry value="/platformkit-java/transformations/UML2ToPackageAPIOntology.asm"/>
</listAttribute>
</launchConfiguration>
