body { 
	margin: 10px 0px 0px 0px;
}

.pageheadermenu,.pageheadermenu li,.pageheadermenu ul {
	margin:0;
	padding:0;
	list-style-type:none;
}
.pageheadermenu {
	position:relative;
	left:0;
	top:0;
	z-index:20000;
	width:auto;
	cursor:default !important;
	border:none;
	text-align:left;
}
.pageheadermenu {
	background-image:none;
	background-color:none;
	float:none;
	width:100%;
}
.pageheadermenu ul {
	height: 20px;
	margin-top: 10px;
	margin-bottom: 10px;
	}
.pageheadermenu li {
	color: #766F53;
	margin-top: 3px;
	padding-left: 10px;
	padding-right: 10px;
    text-transform: uppercase;
    float: left;
	}
.pageheadermenu li a {
	color: #766F53;
	text-decoration: none;
	}
.pageheadermenu li a:hover {
	color: #000;
	text-decoration: underline;
	font-style: normal;
}
.pageheadermenu li a:active {
	color: #766F53;
	text-decoration: none;
	font-style: normal;
	}
.pageheadermenu li.selected {
	color: #FFFFFF;
	text-decoration: none;
	font-style: normal;
	}
#pageheadertitle h1 { 
	clear: both;
	background: transparent url(images/FULLb-vub.jpg) no-repeat left;
	margin-top: 10px;
	margin-bottom: 0px; 
	height: 101px; 
	}
#pageheadertitle h1 span {
	display: none;
	}
	
.myheadermenu,.myheadermenu li,.myheadermenu ul {
	margin:0;
	padding:0;
	list-style-type:none;
}
.myheadermenu {
	position:relative;
	left:0;
	top:0;
	z-index:20000;
	width:auto;
	cursor:default !important;
	border:none;
	text-align:left;
}
.myheadermenu {
	background-image:none;
	background-color:none;
	float:none;
	width:100%;
}
.myheadermenu ul {
	height: 20px;
	margin-top: 10px;
	margin-bottom: 10px;
	}
.myheadermenu li {
	color: #999900;
	margin-top: 3px;
	padding-left: 10px;
	padding-right: 10px;
    text-transform: uppercase;
    float: left;
	}
.myheadermenu li a {
	color: #999900;
	text-decoration: none;
	}
.myheadermenu li a:hover {
	color: #000;
	text-decoration: underline;
	font-style: normal;
}
.myheadermenu li a:active {
	color: #999900;
	text-decoration: none;
	font-style: normal;
	}
.myheadermenu li.selected {
	color: #FFFFFF;
	text-decoration: none;
	font-style: normal;
	}

.menubacklink {
	text-indent: 20px;
	text-transform: uppercase;
	}

#menu {
	margin-top: 30px;
	border-right: 1px solid #8F8665;
	}
#menu h3 {
	margin-top: 10px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #FFF;
	background-color: #8F8665;
	}

#content {
	clear: both;
	width: 500px;
	margin: 0px 10px 0px 10px;
	}
