<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.importWizards">
      <category
            id="be.ac.vub.jar2uml.ui.category"
            name="%category.name"/>
      <wizard
            category="be.ac.vub.jar2uml.ui.category"
            class="be.ac.vub.jar2uml.ui.JarToUMLImportWizard"
            icon="icons/full/obj16/importjar_wiz.gif"
            id="be.ac.vub.jar2uml.ui.JarToUMLImportWizard"
            name="%wizard.jar2uml.name">
         <description>
            %wizard.jar2uml.description
         </description>
      </wizard>
      <wizard
            category="be.ac.vub.jar2uml.ui.category"
            class="be.ac.vub.jar2uml.ui.JarToUMLImportDependenciesWizard"
            icon="icons/full/obj16/importjar_wiz.gif"
            id="be.ac.vub.jar2uml.ui.JarToUMLImportDependenciesWizard"
            name="%wizard.jardeps2uml.name">
         <description>
            %wizard.jardeps2uml.description
         </description>
      </wizard>
      <wizard
            category="be.ac.vub.jar2uml.ui.category"
            class="be.ac.vub.jar2uml.ui.JavaProjectToUMLImportWizard"
            icon="icons/full/obj16/importjar_wiz.gif"
            id="be.ac.vub.jar2uml.ui.JavaProjectToUMLImportWizard"
            name="%wizard.javap2uml.name">
         <description>
            %wizard.javap2uml.description
         </description>
      </wizard>
      <wizard
            category="be.ac.vub.jar2uml.ui.category"
            class="be.ac.vub.jar2uml.ui.JavaProjectToUMLImportDependenciesWizard"
            icon="icons/full/obj16/importjar_wiz.gif"
            id="be.ac.vub.jar2uml.ui.JavaProjectToUMLImportDependenciesWizard"
            name="%wizard.javapdeps2uml.name">
         <description>
            %wizard.javapdeps2uml.description
         </description>
      </wizard>
   </extension>

</plugin>
